<div id="musculo" class="page-layout carded fullwidth inner-scroll">

    <!-- TOP BACKGROUND -->
    <div class="top-bg accent"></div>
    <!-- / TOP BACKGROUND -->

    <!-- CENTER -->
    <div class="center">

        <!-- HEADER -->
        <div class="header accent" fxLayout="row" fxLayoutAlign="space-between center">

            <!-- APP TITLE -->
            <div fxLayout="row" fxLayoutAlign="start center">

                <button mat-icon-button class="mr-0 mr-sm-16" [routerLink]="'/app/musculos'">
                    <mat-icon>arrow_back</mat-icon>
                </button>

                <div class="musculo-image mr-8 mr-sm-16" [@animate]="{value:'*',params:{delay:'50ms',scale:'0.2'}}">
                    <img *ngIf="musculo.imagen" [src]="musculo.imagen">
                    <img *ngIf="!musculo.imagen" [src]="'assets/images/ecommerce/product-image-placeholder.png'">
                </div>

                <div fxLayout="column" fxLayoutAlign="start start"
                     [@animate]="{value:'*',params:{delay:'100ms',x:'-25px'}}">
                    <div class="h2" *ngIf="pageType ==='editar'">
                        {{musculo.nombre}}
                    </div>
                    <div class="h2" *ngIf="pageType ==='nuevo'">
                        Nuevo musculo
                    </div>
                    <div class="subtitle secondary-text">
                        <span>Musculo Detalles</span>
                    </div>
                </div>
            </div>
            <!-- / APP TITLE -->

            <button mat-raised-button
                    class="save-musculo-button"
                    [disabled]="musculoForm.invalid"
                    (click)="Crearmusculo()"
                    *ngIf="pageType ==='nuevo'">
                <span>AGREGAR</span>
            </button>

            <button mat-raised-button
                    class="save-musculo-button"
                    [disabled]="musculoForm.invalid || musculoForm.pristine"
                    (click)="Modificarmusculo()"
                    *ngIf="pageType ==='editar'" >
                <span>GUARDAR</span>
            </button>
        </div>
        <!-- / HEADER -->

        <!-- CONTENT CARD -->
        <div class="content-card">

            <!-- CONTENT -->
            <div class="content">

                <form name="musculoForm" [formGroup]="musculoForm" class="musculo w-100-p" fxLayout="column" fxFlex>

                    <mat-tab-group>

                        <mat-tab label="Informacion basica">

                            <div class="tab-content p-24" fusePerfectScrollbar>

                                <mat-form-field appearance="outline" floatLabel="always" class="w-100-p">
                                    <mat-label>Nombre</mat-label>
                                    <input matInput placeholder="Nombre"
                                           name="nombre"
                                           formControlName="nombre"
                                           required>
                                </mat-form-field>

                                <mat-form-field appearance="outline" floatLabel="always" class="w-100-p">
                                    <mat-label>Cargar imagen del musculo</mat-label>
                                    <input matInput placeholder="Url temporal"
                                           name="imagen"
                                           formControlName="imagen"
                                           type="text">
                                </mat-form-field>

                            </div>

                        </mat-tab>                          

                    </mat-tab-group>

                </form>

            </div>
            <!-- / CONTENT -->

        </div>
        <!-- / CONTENT CARD -->

    </div>
    <!-- / CENTER -->

</div>