<div id="about" class="p-24" fxLayout="row wrap">

  <div class="about-content" fxLayout="column" fxFlex="100" fxFlex.gt-sm="50" fxFlex.gt-md="65">

      <div class="profile-box info-box general" fxLayout="column">

          <header class="accent">
              <div class="title">Historial de asistencia</div>
          </header>

          <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">

            <!-- Name Column -->
            <ng-container matColumnDef="fechaCreacion">
              <th mat-header-cell *matHeaderCellDef> Fecha de ingreso </th>
              <td mat-cell *matCellDef="let element"> {{element.fechaCreacion}} </td>
            </ng-container>
          
            <!-- Weight Column -->
            <ng-container matColumnDef="fechaSalida">
              <th mat-header-cell *matHeaderCellDef> Fecha de salida </th>
              <td mat-cell *matCellDef="let element"> {{element.fechaSalida}} </td>
            </ng-container>
          
            <!-- Symbol Column -->
            <ng-container matColumnDef="rutinaId">
              <th mat-header-cell *matHeaderCellDef> Rutina realizada </th>
              <td mat-cell *matCellDef="let element"> {{element.rutinaId}} </td>
            </ng-container>
          
            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
          </table>


      </div>

  </div>

</div>