<div id="about" class="p-24" fxLayout="row wrap">

    <div class="about-content" fxLayout="column" fxFlex="100" fxFlex.gt-sm="50" fxFlex.gt-md="65">

        <div class="profile-box info-box general" fxLayout="column">

            <header class="accent">
                <div class="title">Informacion General</div>
            </header>

            <div class="content">
                <ng-container *ngFor="let rutina of rutinas">
                    <div class="info-line">
                        <div class="title">Nombre</div>
                        <div class="info">{{rutina.nombre}}</div>
                    </div>
                    <div class="info-line">
                        <div class="title">Descripción</div>
                        <div class="info">{{rutina.description}}</div>
                    </div>
                    <div class="info-line">
                        <div class="title">Ejercicios</div>
                        <div class="info" *ngFor="let ejercicio of rutina.RutinaEjercicio">
                            {{ejercicio.ejercicioId }}
                        </div>
                    </div>
                </ng-container>
            </div>

        </div>

    </div>

</div>